h1, h2 {
  font-family: Georgia;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

h2 {
  text-transform: capitalize;
}

p {
  font-family: Helvetica;
  font-size: 18px;
}

p::first-line {
  font-weight: bold;
}

.image {
  background-image: url(../img/background-img.jpg);
}

.caption {
  background-color: #fff;
  color: #000;
  opacity: 0.7;
  font-style: italic;
}

.caption a:hover {
  text-decoration: none;
  color: purple;
}

